<ion-view view-title="{{goal.name}}">

    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear button-light ion-more" ng-click="options.show($event)"></button>
    </ion-nav-buttons>

    <ion-content class="tasks">
        <ion-list>
            <ion-item class="item item-text-wrap" ng-repeat="task in tasks | filter:{'goalId':  goal.id} ">
                <div class="table">
                    <div class="table-cell">
                        <button ng-click="increaseDone(task)">{{task.done}}/{{task.repeat}}</button>
                    </div>
                    <h2 class="table-cell middle"  ng-click="taskEdit.open(goal, task)">{{task.name}}</h2>
                </div>
                <div class="clear"></div>
                <p class="left tiny bottom-date">{{task.createDate | date:'d, MMM'}}</p>
                <p class="right tiny bottom-date" ng-if="task.dueDate">{{task.dueDate | date:'d, MMM'}}</p>
                <div line-progress="{{task.done/task.repeat * 100}}" class="line-progress"></div>
            </ion-item>
        </ion-list>
        <div class="after-list-controls">
            <i class="button button-icon icon ion-plus-circled button-clear button-light" ng-click="taskEdit.open(goal)"></i>
        </div>
    </ion-content>
</ion-view>
